/* Button to View Menu */
.view-menu-button {
    background: #2980b9;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .view-menu-button:hover {
    background: #3498db;
  }
  
  /* Week Menu Section */
  .week-menu-section {
    display: block;
    background: #ecf0f1;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  body[data-theme='dark'] .week-menu-section {
    background: #2c3e50;
  }
  
  .week-menu-item {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  